.CategoriesList{
    cursor: pointer;
    width: 1000px;
    columns: 4;
    column-gap: 10px;
    padding-bottom:10px;
}

@media only screen and (max-width: 1200px) {
     .CategoriesList{
        columns: 3;
        width: calc(100% - 40px);
        box-sizing: border-box;
        padding: 20
    }
}

@media only screen and (max-width: 768px) {
     .CategoriesList{
        columns: 2;
    }
}

@media only screen and (max-width: 480px) {
     .CategoriesList{
        columns: 1;
    }
}