.CategoriesPage{
    display:flex; 
    align-items:center;
    text-align: center;
    flex-direction: column;
    margin: 3vh;
}

.categoriesBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 550px;
    max-height: 200px;
    background: white;
    border-radius: 40px;
    padding-top: 5px;
}

@media only screen and (max-width: 675px) {
        .categoriesBar{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: white;
        overflow: auto;
        white-space: nowrap;
        min-width: 340px;
        max-height: 70px;
        padding: 5px 5px;
    }
    .motherDiv{
        display: inline-block;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        max-width: 60px;
        max-height: 70px;
        margin: 0;
        padding: 0;
    }
    .word{
        display: none;
    }
}


/* @media only screen and (max-width: 400px) {
        .categoriesBar{
        display: flex;
        flex-direction: row;
        width: 375px !important;
        min-height: 150px;
        min-width: 360px;
    }
} */

.motherDiv{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-height: 70px;
    margin: 0;
    padding: 0;
}

.Icon:hover{
    opacity: 1;
    transform:scale(1.03);
    cursor: pointer;
    box-shadow: 2px 2px 8px 1px  rgba(158, 156, 156, 0.5);
}

.FullscreenIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #5AC8FA ;
    opacity: 0.75;
    border-radius: 30px;
    width: 45px;
    height: 45px;
}

.PhotoCameraIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #FD3B30;
    opacity: 0.75;
    border-radius: 30px;
    width: 45px;
    height: 45px;
    padding: 0;
    margin: 0;
}

.BeachAccessIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AF52DE ;
    opacity: 0.75;
    border-radius: 30px;
    width: 45px;
    height: 45px;
    padding: 0;
    margin: 0;
}

.LocalOfferIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFCC00 ;
    opacity: 0.75;
    border-radius: 30px;
    width: 45px;
    height: 45px;
    padding: 0;
    margin: 0;
}

.ChildCareIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FE9501 ;
    opacity: 0.75;
    border-radius: 30px;
    width: 45px;
    height: 45px;
    padding: 0;
    margin: 0;
}

.HomeIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5856D6 ;
    opacity: 0.75;
    border-radius: 30px;
    width: 45px;
    height: 45px;
    padding: 0;
    margin: 0;
}

.CategoryIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #34C759 ;
    opacity: 0.75;
    border-radius: 30px;
    width: 45px;
    height: 45px;
    padding: 0;
    margin: 0;
}

