.googleMap{
    height:50vh;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 10px 10px 10px;
}

.Marker{
    height:10vh;
    width:10vh;
}

.MarkerImage{
    max-height:100%; max-width:100%
}

