.font {
  font-size: 10px;
}


.formModel {
  display: flex;
  flex : 1;
  flex-direction: column;
  align-items: center;

  border-radius: 20px !important;

}

.mainModel {
  display: flex;
  width: 680px !important;

}

.mainModel > div{

  border-radius: 22px !important;
  padding: 10px;

}


.headerModel {
  border-bottom: 0px !important;
}

.nav {
  background-color: #7bd4d1 !important;
}

.font {
  font-style: sans-serif !important;
}

.logo {
  width: 110vw;

}
