.font {
  font-size: 10px;
}

.formModel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px !important;
}

.mainModel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 680px !important;
}

.mainModel > div {
  border-radius: 22px !important;
  padding: 10px;
}

.headerModel {
  border-bottom: 0px !important;
}

.nav {
  background-color: #7bd4d1 !important;
}

.font {
  font-style: sans-serif !important;
}

.logo {
  width: 100%;
}
/*# sourceMappingURL=form.module.css.map */