.Paper {
  margin: 20px;
  height: 900px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main {
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.submitbox {
  height: 700px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  margin: 20px;
  border-radius: 20px !important;
  -webkit-box-shadow: 4px 7px 4px -1px rgba(0, 0, 0, 0.2), 5px 7px 5px 0px rgba(0, 0, 0, 0.14), 5px 10px 3px 0px rgba(0, 0, 0, 0.12) !important;
          box-shadow: 4px 7px 4px -1px rgba(0, 0, 0, 0.2), 5px 7px 5px 0px rgba(0, 0, 0, 0.14), 5px 10px 3px 0px rgba(0, 0, 0, 0.12) !important;
}

.itembox {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 25px !important;
}

.smallItemBox {
  margin: 30px;
  padding: 20px;
  padding: 30px;
  height: 100%;
  width: 650px;
  border-radius: 25px !important;
  -webkit-box-shadow: 4px 7px 4px -1px rgba(0, 0, 0, 0.2), 5px 7px 5px 0px rgba(0, 0, 0, 0.14), 5px 10px 3px 0px rgba(0, 0, 0, 0.12) !important;
          box-shadow: 4px 7px 4px -1px rgba(0, 0, 0, 0.2), 5px 7px 5px 0px rgba(0, 0, 0, 0.14), 5px 10px 3px 0px rgba(0, 0, 0, 0.12) !important;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.font {
  font-family: 'Segoe UI';
  font-style: bolder;
  font-size: 13px;
}

.poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  height: 38px;
  width: 38px;
  border-radius: 30px;
  margin-right: 10px;
  margin-left: 5px;
}

.title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
  font-weight: bolder;
  margin-right: 20px;
}

.bottombox {
  height: 50px;
  width: 350px;
}

.bottom {
  position: relative;
  bottom: 75px;
  left: 570px;
}

.chat {
  margin-right: 10px;
}

.icon_size {
  height: 30px !important;
  width: 30px  !important;
}

.form > div > div {
  border-radius: 15px !important;
}

.grid-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  padding: 3px;
}

.display_name_comment {
  border: 1px solid #f2f4f7;
  background-color: #f2f4f7;
  border-radius: 18px;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.display_name {
  font-weight: bolder;
  font-size: 11px !important;
}

.main_display_name {
  font-weight: bolder;
  font-size: 18px !important;
}

.time {
  font-size: 12px !important;
}

.input {
  background-color: #f2f4f7;
  border-radius: 20px;
  border: 1px solid #f2f4f7;
  border-radius: 18px;
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 8px;
  outline: none;
  font-size: 15px;
  width: 60%;
}
/*# sourceMappingURL=forumchat.css.map */