.inbox-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10px;
}

.inbox-page .rce-container-mbox {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: block;
  overflow: hidden;
  min-width: 200px;
  margin: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inbox-page .inbox-right .msg-display {
  background: #FFFFFF !important;
}

.inbox-page .rce-mbox-right-notch {
  fill: #007AFF;
}

.inbox-page .rce-mbox.rce-mbox-right {
  background: #007AFF;
  color: black;
}

.inbox-page .inbox-left {
  max-width: 250px;
  min-width: 250px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5px;
  background: #ffffff;
  height: 85vh;
  border-radius: 10px;
}

.inbox-page .inbox-left nav {
  padding-top: 0;
}

.inbox-page .inbox-left nav .inbox-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
}

.inbox-page .inbox-left nav .inbox-nav div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  position: relative;
}

.inbox-page .inbox-left nav .inbox-nav div a {
  position: absolute;
  top: 0;
  bottom: 0px;
  left: 0;
  right: 0;
}

.inbox-page .inbox-left nav .inbox-nav div a.active {
  border-bottom: 3px solid #aaa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FFF;
}

.inbox-page .inbox-left nav .inbox-nav div a:hover {
  color: #0056b3;
  text-decoration: none;
}

.inbox-page .inbox-left nav .MuiListItem-root.MuiListItem-gutters {
  padding: 5px !important;
}

.inbox-page .inbox-left nav .rce-container-citem {
  min-width: 180px;
}

.inbox-page .inbox-right {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  border-radius: 10px;
  margin-left: 10px;
  background: #ffffff;
  height: 85vh;
  position: relative;
}

.inbox-page .inbox-right .msg-display {
  position: absolute;
  top: 0;
  bottom: 40px;
  padding: 5px;
  width: 100%;
  vertical-align: bottom;
  overflow-y: scroll;
}

.inbox-page .inbox-right form {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #8E8E93;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inbox-page .inbox-right form div {
  margin: 5px;
}

.inbox-page .inbox-right form input {
  width: 600px;
  border-radius: 30px;
  border: none;
  padding: 3px;
}

.inbox-page .inbox-right form textarea:focus, .inbox-page .inbox-right form input:focus {
  outline: none;
}

.inbox-page .inbox-right form .BBB .sendButton {
  background-color: #007AFF;
  border-radius: 30px;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  border: none;
}
/*# sourceMappingURL=inbox.css.map */