.item-page{
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // width: 100vh;
    .img-container{
        height: 75vh;
        display: flex;
        flex-direction: column;        
        width: 40vw;
        padding: 30px;
        div{
        padding-top: 10px;
        height: 15vh;
         flex: 1;
         width: 100%;
         display: flex;
        justify-content: center;
         align-items: center;
        img{         
            max-height: 100%;
            max-width: 100%;        
        }}
    }
}

.MuiDialogContent-root{
    display: flex;
    justify-content: center;
    align-items: center;
}