.or{
    color: #aaa;
    text-align: center; 
    border-bottom: 1px solid #aaa; 
    line-height: 3px;
    margin: 10px 0 20px; 
    span{ 
        padding:0 10px;
        background:#fff;  
    }
}

.login_main_page {
    display: flex;
    

}

.loginImg {
    width: 72vw;
  
   
}

@media only screen and (max-width:900px) {
    .loginImg {
     display:none;
    }
}