header {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal  !important;
  -webkit-box-direction: normal  !important;
      -ms-flex-direction: row  !important;
          flex-direction: row  !important;
  height: 60px !important;
  overflow: hidden;
}

header button:focus {
  outline: none;
}

header button {
  border: none;
  color: rgba(0, 0, 0, 0.87);
}

header .logo {
  width: 70px;
  margin-left: 10px;
  margin-top: -5px;
}

header .nav-options {
  min-width: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header .nav-options .MuiTabs-flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .nav-options .MuiTabs-flexContainer a {
  margin: 0;
}

header .nav-options .MuiTab-labelIcon {
  padding-top: 0;
}

header .nav-options button {
  padding: 5px;
}

header .nav-options button .MuiTab-wrapper {
  min-width: 40px;
  font-size: 7px;
}

header .nav-options .MuiTab-root {
  font-size: 10px;
}

header .nav-options .MuiSvgIcon-root {
  font-size: 30px;
}

@media (min-width: 600px) {
  .MuiTab-root {
    min-width: 100px;
  }
}

.nav-end .MuiTab-labelIcon {
  padding-top: 0;
}

.nav-end button {
  padding: 5px;
}

.nav-end button .MuiTab-wrapper {
  min-width: 40px;
  font-size: 7px;
}

.nav-end .MuiTab-root {
  font-size: 10px;
}

.nav-end .MuiSvgIcon-root {
  font-size: 30px;
}

.nav-end .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.7);
  font-size: 10px;
  font-weight: 500;
  margin-top: -5px;
}

.nav-end .profile .greet {
  margin-top: 3px;
}
/*# sourceMappingURL=Nav.css.map */