.profilebox {
  width: 30%;
  height: 650px;
  margin: 30px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profilepicture {
  height: 180px;
  width: 180px;
  border-radius: 200px;
}

.profileinfo {
  padding: 0px;
  margin-top: 30px;
}

.itembox {
  width: 70%;
  height: 650px;
  margin: 30px;
  padding: 20px;
}

.textbox {
  margin: 20px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin: 30px;
}

.profilepicturesmall {
  height: 40px;
  width: 40px;
  border-radius: 30px;
  margin-left: 10px;
}

.mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.font {
  font-family: 'Segoe UI';
  font-style: bolder;
}

.map {
  height: 400px;
  width: 100%;
}
/*# sourceMappingURL=profile.module.css.map */