.main_page {
  margin: 30px;
  padding: 50px;
  text-align: center;
  overflow-x: scroll ;
}

.CategoriesList{

  justify-content:center;
  align-items:center;
  margin: 30px;
  display: flex;
  columns: 3;
  column-gap: 30px;
}

.CategoriesList > button {
  border-radius: 20px;

}

.CategoriesList > div {
  width: 300px;
}

.deleteAlertCenter{
  display: flex;
  justify-content: center;
}

.deleteAlert {
  width: 300px;
}

.deleteButton {

  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: red;
  border: 1px solid white !important;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
  outline: 0 !important;
}

.delete{
  color: white !important;
}

.title{  
  width:200px;
  text-align: left;
  font-size:x-large;
  font-weight: 500;
  margin-left: 10%;
  margin-bottom: -50px;
  z-index: 1;
  background:#FFF;
}