.profilebox {
  width: 30%;
  height: 650px;
  margin: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profilepicture{
  height: 180px;
  width: 180px;
  border-radius: 200px;
}


.profileinfo {
  padding: 0px;
  margin-top: 30px;

}

.itembox {
  width: 70%;
  height: 650px;
  margin: 30px;
  padding: 20px;
  
}

.textbox{
  margin: 20px;
}

.main {
  display: flex;
  justify-content: center;

  margin: 20px;
  margin-left: 80px;
  margin-right: 80px;
  flex-direction: column;
  
}

.profilepicturesmall{
  height: 40px;
  width: 40px;
  border-radius: 30px;
  margin-left: 10px;
}

.mainNav {
  display: flex;
  align-items: center;
}

.font{
  font-family: 'Segoe UI';
  font-style: bolder;
}

.map {
  height:400px;
  width: 100%
}

.profile_with_map {
  display: flex;
}

