
body {
  background: #f2f2f2;
  padding: 20px;
}

.input-tag {
  background: white;
  border: 1px solid #d6d6d6;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 5px 0;
  margin: 20px;
  
}

.input-tag input {
  border: none;
  width: 100%;
  
}

.input-tag__tags {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.upper_show_input_tag {
  display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
}
.show_input_tag {
  align-items: center;
  background: #85A3BF;
  border-radius: 20px;
  color: white;
  display: flex;
  font-weight: 300;
  list-style: none;
  margin-bottom: 6px;
  margin-right: 6px;
  padding: 4px 11px;
}

.input-tag__tags li {
  align-items: center;
  background: #85A3BF;
  border-radius: 20px;
  color: white;
  display: flex;
  font-weight: 300;
  list-style: none;
  margin-bottom: 6px;
  margin-right: 6px;
  padding: 4px 10px;
}


.input-tag__tags li button {
  align-items: center;
  appearance: none;
  background: #333333;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 12px;
  height: 16px;
  justify-content: center;
  line-height: 0;
  margin-left: 10px;
  padding: 4;
  transform: rotate(45deg);
  width: 16px;
}

.input-tag input  {
  border-radius: 20px !important;
  outline: none !important;
  margin: 10px;
}

.input-tag__tags li.input-tag__tags__input {
  background: none;
  flex-grow: 1;
  padding: 0;
  border-radius: 20px;
}



.icon_size {
  height: 30px !important;
  width: 30px  !important;
}

.liked { 
  background-color: red;
}


