.Paper {
  margin: 20px;
  height: 900px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.main_page {
  display:flex;
  justify-content:center;

}

