body {
    margin: 0;
    font-size: 14px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 5px 0px 20px;
    padding: 0 10px;
}

.logo > img {
    width: 100px;
    max-width: 170px;
}

@media screen and (min-width:500px) {
    .logo > img {
        width: 80vw;
    }
}

.social-icons {
    display: flex;
    font-size: 20px;
}

.social-icons > div {
    color: #0d3e75;
    transition: all 0.3s;
    margin-left: 15px;
}

@media screen and (max-width:500px) {
    .social-icons {
        font-size: 15px;
    }
    .social-icons > div {
        margin-left: 10px;
    }
}

.control-bar {
    margin: 0;
    padding: 0;
    color: white;
}

@media screen and (min-width: 200px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
}

.btn-group {
    margin-left: 10px;
}

.dropleft-button {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);
}

.dropleft-button:hover {
    color: rgba(255, 255, 255, 0.75);;
    background-color: transparent;
    border-color: transparent;
}

.dropleft-menu {
    padding: 10px 15px;
    min-width: 250px;
    font-size: 14px;
}

.form-control {
    font-size: 14px;
}

.btn-logout {
    color: rgba(255, 255, 255, 0.5);
    background-color: #ffffff00;
    border-color: transparent;
}

.btn-logout:hover {
    color: rgba(255, 255, 255, 0.75);;
    background-color: #ffffff00;
    border-color: transparent;
}

.navbar-brand {
    font-size: 14px;
    margin-right: 10px;
}

.bg-primary {
    background-color: #0d3e75!important;
}

.btn-primary {
    background-color: #0d2575;
    border-color: #0d3e75;
}

.navbar-text {
    padding: 0;
}

div > h5 {
    margin-bottom: 15px;
}
div > h6 {
    margin-bottom: 2px;
}

.color0 {
    background-color: #eef58f !important;
    border-bottom: 2px solid #eef58f !important;
    border-top: 2px solid #eef58f !important;
}

.color0 > .p {
    color: black  !important;;
}

.color1 {
    background-color: #F7AF97 !important;
    border-bottom: 2px solid #F7AF97 !important;
    border-top: 2px solid #F7AF97 !important;
}

.color2 {
    background-color: #F59FBC !important;
    border-bottom: 2px solid#F59FBC !important;
    border-top: 2px solid #F59FBC !important;
}

.color3 {
    background-color: #B6A4CC !important;
    border-bottom:1px solid #B6A4CC !important;
    border-top:1px solid #B6A4CC !important;

}

.color4 {
    background-color: #8DD7F2 !important;
    border-bottom: 1px solid#8DD7F2 !important;
    border-top:1px solid #8DD7F2 !important;
}

.color5 {
    background-color: #92D6BD !important;
    border-bottom: 1px solid#92D6BD !important;
    border-top: 1px solid#92D6BD !important;
}

.color6 {
    background-color: #E2EC96 !important;
    border-bottom: 1px solid#E2EC96 !important;
    border-top: 1px solid#E2EC96 !important;
}

.color7 {
    background-color: #92AAD0 !important;
    border-bottom: 1px solid #92AAD0 !important;
    border-top: 1px solid #92AAD0 !important;
}

.color8 {
    background-color: #FBCC96 !important;
    border-bottom: 1px solid #FBCC96 !important;
    border-top: 1px solid #FBCC96 !important;
}

.color9 {
    background-color: #9b92d0 !important;
    border-bottom: 1px solid #9b92d0 !important;
    border-top: 1px solid #9b92d0 !important;
}

.progress-subcol {
    display: flex;
    justify-content: flex-start;
}

.scheduleFontSize{
    color: whitesmoke;
    justify-content: flex-start;
    flex : 1;
    font-family: Helvetica;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
    
}

.realScheduleFontSize{
    margin-left: 10px;
 
}

.edit-button {
    color: white;
    margin: 15px;
}

.trash-button {
    color: white;
    margin: 15px;
}

.booked {
    color: white;
    font-size: large;
    margin: 10px;
    margin-left: 12px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 1);
    
}

.moveToLeft {
    flex : 1;
    justify-content: flex-start;
    

}

.submission-message{
    font-size: 35px;
    font-family: Helvetica;
    color: white;
    text-shadow: 2px 2px #000000;
    background-color: #092250;
    border-radius: 12px;
    position: absolute;
    padding: 10px;
    margin: 10px;
    top: 20vw;
    left: 25vw;
    opacity: 1;
    z-index: 101;
}

.dimmer {
    background: #000;
    opacity: 0.3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

}
