.cover-container {
    width: 95vw;
    height: 100%;
    text-align: center;
    color: #0d3e75;
}

.cover-container > img {
    margin-top: 100px;
    width: 80px;
}

.cover-container > h1 {
    font-size: 70px;
}

.body-container {
    height: 300px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    padding-left: 10px;
}

.logo-container {
    width: 300;
    height: 140px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
}

.barberpole-container {
    position: relative;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barberpole-container > img {
    position: absolute;
    top: -46px;
    height: 210px;
}

#canvas {
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

body {
    background-image: url("../images/salon.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: cover;
  }