.container{
    margin: 20px;
}


.barChart{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.appointment{
    background-color: aqua !important;
    border-left: aqua !important;
}

.appointment2{
    background-color: purple !important;
    border-left: purple !important;
}

.timeSlot{
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #dee2e6;
    border-bottom:1px solid #dee2e6;
    border-left:1px solid #dee2e6;
    width: 26px;
    height: 52px;
    position: relative;
}

.timeSlot:hover {
    background-color: #dee2e6;
}


.timeSlot:hover .active{
    visibility: visible;
}

.active{
  visibility: hidden;
  width: 30px;
  background-color: #adb7c2;
  color: #fff;
  text-align: center;
  font-size: 6px;
  border-radius: 6px;
  padding: 5px 0;
  bottom : -35px;
  right : 0px;
  position: absolute;
  z-index: 2;
}

.timeSlot:first-child {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.timeSlot:last-child {
    margin-right: 0;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-right:1px solid #dee2e6;
}

