
.service-checkbox > input {
    margin-left: 5px;
    margin-right: 5px;
    width: -webkit-fill-available;
}

.service-checkbox > #othersValue {
    padding: 2px 6px;
    margin-left: 20px;
    border: 0;
    border-radius: 0;
    box-shadow: 5px 3px 3px #ced4da!important;
}

.left {
    padding-right: 0;
}

.right {
    padding-left: 0;
}

#special {
    color: #7e7e7e;
    font-size: 8px;
}

.submission-col {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.modal-body {
    padding-top: 10px;
}

.dropdown-btn {
    padding: 6px 0px 6px 0;
    text-decoration: none;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: space-between;
  }

.schedule-form {
    min-width: 50px;
    padding: 0 2px;
    border: 0;
    border-radius: 0;
    box-shadow: 5px 3px 3px #ced4da!important;
}

.form-control:focus {
    border-color: #fff;
}

.date-container{
    flex-wrap: wrap;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0;
    box-shadow: inset   -3px -3px 10px rgba(0,0,0,0.1), 
                        3px 3px 10px rgba(0,0,0,0.3);

}

.date-subcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.control-date {
    color: #0d3e75;
}
.control-date:hover {
    background-color: #f8f9fa;
}

.icon-container {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.btn.focus, .btn:focus {
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
}

.hour-subcol, .progress-subcol, .gap-subcol {
    height: 75px;
    font-size: 12px;
    color: #7e7e7e;
}

#date {
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}

.progress-subcol, .gap-subcol {
    border-top: 1px solid #ced4da;
}

.bottomline{
    border-bottom: 1px solid #ced4da;
}

.hour-col {
    min-width: 85px;
    max-width: 85px;
    text-align: right;
    padding-right: 10px;
}

.date-col > div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.progress-col {
    width: 100%;
    padding-left: 0;
}

.progress-subcol {
    padding-left: 10px;
}

.progress-subcol:hover {
    background-color: #f8f9fa;
}

.gap-col {
    max-width: 15px;
    padding: 0;
    border-right: 1px solid #ced4da;
}
.alert {
    padding: .25rem .5rem;
}

.timeChoose-container {
    display: flex;
    justify-content: flex-end;
    height: 28px;
    margin: 5px 0;
}

#timeChoose {
    min-width: 230px;
    height: 34px;
    /* margin: 0 10px; */
    padding: 0 8px;
    border: 1px solid #ced4da;
    border-radius: 0.25em;
}

.bootstrap-iso .formden_header h2,
.bootstrap-iso .formden_header p,
.bootstrap-iso form {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}
.bootstrap-iso form button,
.bootstrap-iso form button:hover {
	color: #ffffff !important;
}

