h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans TC', sans-serif;
}

p,a,input,label,textarea,span,ul,li{
    font-family: 'Open Sans', sans-serif;
}

.jumbotron{
    background-image: url('https://images.pexels.com/photos/3774098/pexels-photo-3774098.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=500&w=900');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 70vh;
}

#intro {
    height: 1000px;
    background-color: #fff;
}

#intro h1{
    font-size: 58px;
    font-weight: 400;
    line-height: 1.5;
    z-index: 5;
}

.my-2>button{
    background: #20BD67;
    color: white;
    padding: 9px 26px;
    border-radius: 20px;    
}

.my-2>button:hover {
    color: black;
    background: #20BD67;
}  

#intro .container{
    position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

header nav img{
    width: 100px;
}

.bg-light {
    background-color: white!important;
}

#login-panel-btn { 
    margin:20px;
    font-size: 25px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-panel-btn:hover {
    background-color: #20BD67;
    border-radius: 25px;
    color:#fff;
}

#logout-btn{ 
    margin:20px;
    font-size: 25px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logout-btn:hover {
    background-color: #20BD67;
    border-radius: 25px;
    color:#fff;
    margin-bottom: 0px;
}
.login-layout{
    text-align:center;
}


input{
    border:none;
    background-color: #eee;
    padding:5px;
    padding-left: 5px;
}
input:focus {
    outline: none;
    background-color: #ddd;  
}

.panel{
    position: relative;
    display: none;       
}
.panel>div{
    position: fixed;  
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
    margin:auto; 
}

#exit{  
    width: 100%;
    height:100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.65);       
}

#login-panel{
    background-color: #fff; 
    z-index: 11;
    width: 700px;
    height:350px; 
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

#login-panel>div{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 15px;
}

.switch>div{
    width:100%;
    text-align: center;
    padding-bottom: 10px;
    border-bottom :2px solid #20BD67;
}

.form-area>div{
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: center;
    align-items: center;
}

.login{
    border-right:2px solid #ccc;
}

.form-area>div>form>input{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.form-area>div>form>div{
text-align: center;
}

.form-area>div>form>a{
    width: 100%;
}

.add-fav-panel{
    font-size: 40px;
    z-index: 5;
}

/* body{
    position: relative;
}
#searchChart{
    position: absolute;
    top: 130px;
    width: 75%;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
} */
