#stocks-form{
    height: 50px;    
    font-size: 15px;
    justify-content: center;
    align-items: center; 
    display: flex;
}
select{
    height: 50px !important;   
}
.fa-search-dollar{
    font-size: 35px;
}
#stocks-option>option:first-child{
   width: 30%;
}

#stock-title{
    display: flex;
    width: 100%;
    padding:20px;
    justify-content: center;
    align-items: center; 
    font-size:20px;
    height: 200px;
}
#stock-title>div:first-child{
    width:20%;    
}

#stock-title>div:nth-child(2){
    width:20%;    
}
#stock-title>div:nth-child(3){
    width:50%;    
}

