.main {

   display: flex;
   align-items: center;
   justify-content: center
}

.paper {
   margin-top: 30px;
   height: 88vh;
   min-height: 100%;
   width: 700px;
   padding-right: 100px;
   padding-left: 100px;
   padding-top: 30px;
   padding-bottom: 80px;
}

.form {
   display: flex;
   flex-direction: column;


}

.form > div {
   margin-top: 10px;
}


.form > button {
   margin-top: 20px;
}

.dateInput{
   display: flex;
   justify-content: space-around;
}