.main {
  display: flex;
  justify-content: center;
}

.container {
  height: 100%;
  width: 60vw;
  padding: 20px;
  margin: 20px;
  background-color:#fafafa !important;
  border-radius: 20px;

}

.topVotingCampaign {
  text-align: center;
  font-size: 35px!important;
  font-style: oblique;
}

.main_campaign {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.campaign {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 50px;
  width: 700px;
  border-radius: 20px;
  margin: 5px;
  align-items: center;
  background-color: #ffebda;
}

.allCampaign {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 50px;
  width: 700px;
  border-radius: 20px;
  margin: 5px;
  align-items: center;
  background-color: #ffe4cd;
}

.allCampaign:hover {
  box-shadow: 
  1px 1px 1px 2px rgba(0,0,0,0.2), 1px 1px 1px 1px rgba(0,0,0,0.14), 1px 1px 1px 1px rgba(0,0,0,0.12);
}

.Text{
  font-size: 13px;
  font-style: oblique
}

.totalVotes{
  text-align: center;
}


.title{
  display: flex;
  justify-content: center;

  
}

.position{
  position: relative;
  left: 100px;
}