.main {
  display: flex;
  justify-content: center;
}

.paper {
  height: 100%;
  min-height: 80vh;
  width: 60vw;
  border-radius: 20px;
  padding: 30px;
  margin-top :20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 10px;
  
}
.form > div {
  margin: 5px;
}


.form > button {
  margin: 10px;
}

.main_campaign {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.campaign {
  cursor: pointer;
  height: 50px;
  width: 550px;
  border-radius: 20px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #faf1f1;
  padding: 30px;
}

.campaign:hover {
  box-shadow: 
  1px 1px 1px 2px rgba(0,0,0,0.2), 1px 1px 1px 1px rgba(0,0,0,0.14), 1px 1px 1px 1px rgba(0,0,0,0.12);
}

.candidateFontStyles{
  font-size: 10px;
  font-style: oblique;
}

.voteNumStyle{
  text-align: center;
}

.errors {
  width: 350px;
}

.guide {
  font-size: 13px;
  font-style: oblique;
}

.finishedStatement {
  font-size: 15px;
  font-style: oblique;
  background-color: rgba(253, 255, 121, 0.5);
}

.chosenCandidate{

  text-align: center;
  font-size: 30px !important;
  padding: 5px !important;
  border-radius: 20px !important;
}