.main_campaign {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.campaign {
  cursor: pointer;
  height: 300px;
  width: 450px;
  border-radius: 20px;
  margin: 20px;
  
  padding-top: 20px;
  padding-bottom: 20px;

}

.campaignName {
  height: 70%;
  width: 100%;
  font-size: 35px;
  padding: 20px;
  text-align: center;
  background-color: #ffddc1;
  /* background-color: #ffb3a0 */
}

.campaignInfo {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;

}

/* .campaignInfo >div {
  width: 50px;
} */

.campaign:hover {
  box-shadow: 
  2px 2px 3px 5px rgba(0,0,0,0.2), 1px 4px 3px 5px rgba(0,0,0,0.14), 1px 2px 3px 5px rgba(0,0,0,0.12);
}

.votingCampaign{
  margin-left: 15px;
  margin-bottom: 10px;
}